/*= Colors
--------------------------------------*/

$white: #ffffff;
$black: #4c4a4b;
$grey: #acacac;

/*= Typography
--------------------------------------*/

$display-font: 'Montserrat', sans-serif;
$body-font: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700,400i');

/*= Dimensions
--------------------------------------*/

$breakpoint: 768px;

$grid-gap-sm: 20px;
$grid-gap: 3vw;

$inner-grid-gap-sm: 6px;
$inner-grid-gap: 10px;

$header-height: 200px;
$footer-height: 160px;

$img-height-ratio: 75%;
