/*= Colors
--------------------------------------*/

$white: #ffffff;
$black: #4c4a4b;
$grey: #acacac;

/*= Typography
--------------------------------------*/

$body-font: 'Helvetica Neue', 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*= Dimensions
--------------------------------------*/

$breakpoint: 768px;

$grid-gap-sm: 20px;
$grid-gap: 3vw;

$img-height-ratio: 75%;
