.header {
	height: $header-height;
	position: relative;
	font-family: $display-font;
	text-align: center;
	text-transform: uppercase;

	&__title {
		font-size: 36px;
		font-weight: 700;
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.title-link {
		line-height: $header-height;
		text-decoration: none;
		color: $black;
	}

	&__nav {
		position: absolute;
		bottom: 20px;
		width: 100%;
	}

	.nav-link {
		color: $black;
		opacity: 0.5;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;
		margin: 10px;
		transition: 0.5s ease-out opacity;

		&:hover {
			opacity: 1;
		}

		&--active {
			opacity: 1;
		}
	}
}

@media screen and (min-width: $breakpoint) {
	.header {
		display: flex;

		&__nav {
			text-align: right;
			flex: 1 1 0;
			position: unset;
			bottom: unset;
			width: unset;
		}

		.nav-link {
			line-height: $header-height;
			margin-left: 30px;
		}
	}
}
