.image-set {
	display: grid;
	grid-gap: $inner-grid-gap-sm;
	width: 100%;
	height: 100%;

	&__row {
		display: flex;
	}

	&__img {
		background-color: #ededed;
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 100%;
		margin: 0 $inner-grid-gap-sm / 2;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0
		}
	}
}

@media screen and (min-width: $breakpoint) {
	.image-set {
		grid-gap: $inner-grid-gap;

		&__img {
			margin: 0 $inner-grid-gap / 2;
		}
	}
}
