$title-spacing: 14px;

.info-box {
	&__title {
		@include md-container;
		margin: 0 0 $title-spacing;
		font-family: $display-font;
		font-size: 20px;
		font-weight: 600;
	}

	&__text {
		@include md-container;
		margin: 0;
		font-size: 13px;
		line-height: 150%;
	}
}

@media screen and (min-width: $breakpoint) {
	.info-box {
		$header-adjustment: 5px;
		$paragraph-adjustment: 3px;

		&__title {
			margin: -$header-adjustment 0 $title-spacing + $paragraph-adjustment;
		}

		&__text {
			margin-top: -$paragraph-adjustment;
		}
	}
}
