.work-item {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $grid-gap-sm;

	&__img, &__img-set {
		background-color: #ededed;
		background-position: center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			padding-bottom: $img-height-ratio;
		}
	}

	&__img-set {
		background-color: transparent;
		position: relative;

		& > div {
			position: absolute;
			top: 0;
		}
	}
}

@media screen and (min-width: $breakpoint) {
	.work-item {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $grid-gap;

		&__img, &__img-set, &__video {
			grid-column: 1 / 3;
		}

		.info-box {
			grid-column: 3;
		}
	}
}
