.work-item {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $grid-gap-sm;

	&__entry {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: $grid-gap-sm;
	}

	&__img, &__img-set {
		background-color: #ededed;
		background-position: center;
		background-size: cover;
	}

	&__img-set {
		background-color: transparent;
		position: relative;

		& > .image-set {
			position: absolute;
			top: 0;
		}
	}

	&__video {
		position: relative;
	}
}

@media screen and (min-width: $breakpoint) {
	.work-item {
		grid-gap: $grid-gap;

		&__entry {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: $grid-gap;
		}

		&__img, &__img-set, &__video {
			grid-row: 1;
			grid-column: 1 / 3;
		}

		.info-box {
			grid-row: 1;
			grid-column: 3;
		}
	}
}
