/*= Colors
--------------------------------------*/

$white: #ffffff;
$black: #4c4a4b;

/*= Typography
--------------------------------------*/

$body-font: 'Helvetica Neue', 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*= Dimensions
--------------------------------------*/

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
