/*= Colors
--------------------------------------*/

$white: #ffffff;
$black: #4c4a4b;

/*= Typography
--------------------------------------*/

$body-font: 'Helvetica Neue', 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto');
