$title-spacing: 14px;

.info-box {
	h3 {
		margin: 0 0 $title-spacing;
		font-size: 16px;
	}

	p {
		margin: 0;
		font-size: 12px;
		line-height: 150%;
	}
}

@media screen and (min-width: $breakpoint) {
	.info-box {
		$header-adjustment: 5px;
		$paragraph-adjustment: 3px;

		h3 {
			margin: -$header-adjustment 0 $title-spacing + $paragraph-adjustment;
			font-size: 20px;
		}

		p {
			margin-top: -$paragraph-adjustment;
			font-size: 13px;
		}
	}
}
