.work-items-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $grid-gap-sm;
}

@media screen and (min-width: $breakpoint) {
	.work-items-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $grid-gap;
	}
}
